/bin
/conf
/docs
/eclipse
/forge
/jars
/lib/asm-all-4.0.jar
/lib/asm-all-4.0-source.jar
/lib/bcprov-jdk15on-147.jar
/lib/guava-12.0.1.jar
/lib/guava-12.0.1-sources.jar
/lib/argo-2.25.jar
/reobf
/runtime
/src/minecraft
/temp
/logs
/getchangedsrc.bat
/getchangedsrc.sh
/LICENSE.txt
/recompile.bat
/recompile.sh
/reformat.bat
/reformat.sh
/reobfuscate.bat
/reobfuscate.sh
/startclient.bat
/startclient.sh
/startserver.bat
/startserver.sh
/updateids.bat
/updateids.sh
/updatemcp.bat
/updatemcp.sh
/updatemd5.bat
/updatemd5.sh
/updatenames.bat
/updatenames.sh
/CHANGELOG
/cleanup.bat
/cleanup.sh
/decompile.bat
/decompile.sh
